.react-page-exception {
    display: table;
    &-img {
      width: 300px;
      margin-right: 50px;
    }
    &-info {
        display: table-cell;
        vertical-align: middle;
        >.title {
          font-size: 80px;
        }
        >.description {}
        >.actions {}
    }
}
