*{margin: 0;padding:0;box-sizing: border-box;}
ul,li{list-style: none;}

$react-page-exception-options:(
  base-size:8px,
  img-width:30em,
  img-gap:2em,
  title-font-size:8em,
  description-font-size:1.4em
);

@import './components/style.scss';

.hello-react-page-exception{
  padding:50px 20px;

  width:600px;
  margin: 0 auto;

  h1{
    margin:20px auto;
  }
  button{
    border: none;
    display: block;
    width:100%;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    overflow: visible;
    height: 42px;
    border-radius: 5px;
    color: #ffffff;
    line-height: 42px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #04be02;
    margin-bottom: 15px;
    &:active{
      background: #3cc51f;
    }

    &:focus{
      outline: none;
    }
  }
}
